<div id="mainContent" class="content">
  <div id="toolbar">
    <input
      type="file"
      (change)="onFileChanged($event)"
      style="display: none"
      #fileInput
    />
    <button (click)="fileInput.click()">Select File</button>
    <button (click)="setAddRectMode()">Add Rectangle</button>
    <button (click)="setAddCircleMode()">Add Circle</button>
    <button (click)="setAddTextMode()">Add Text</button>
    <button (click)="setAddLineMode()">Add Line</button>
    <button (click)="setAddArrowMode()">Add Arrow</button>
    <button (click)="setPaintBrushMode()">Paint Brush</button>
    <button (click)="setColor('black')">Black</button>
    <button (click)="setColor('white')">White</button>
    <button (click)="setColor('red')">Red</button>
    <button (click)="undo()">Undo</button>
    <button (click)="clear()">Clear</button>
    <button (click)="downloadImage()">Download Image</button>
  </div>
  <div id="drawContainer"></div>
  <div id="status">{{ statusMessage }}</div>
</div>
